#__next {
  overflow-x: clip;
}

* {
  scroll-behavior: smooth;
}

/*---------------- Hide Code Block Cursor ----------*/
.ace_hidden-cursors {
  opacity: 0;
}

/*---------------- Scrollbar ----------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: 1s;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 1s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(110, 110, 110);
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(95, 91, 91, 1);
}

::-webkit-scrollbar-corner {
  background: none;
}

/*---------------- Homepage Hover On Div Animation ----------*/
.hover-on-div:hover {
  transform: translateY(-5px);
  background-color: #54d8b3 !important;
}

.hover-on-div:hover p {
  color: white !important;
}

/*---------------- Homepage Footer ----------*/

.footer-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #54d8b3;
  transform: translateY(-5px);
}

/*---------------- Glassmorphism Card Style ----------*/
.glass {
  background: rgba(144, 144, 144, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 20px;
  border: 2px solid rgba(84, 216, 179, 0.5);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.glass:hover {
  background: rgba(144, 144, 144, 0.12);
  transform: translateY(-4px);
}

/*---------------- Responsive Design ----------*/
@media only screen and (max-width: 1000px) {
  .responsive-container {
    flex-direction: column;
  }

  .footer-links,
  .footer-links p {
    gap: 0 !important;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .responsive-logo {
    flex-direction: column;
  }

  .use-section {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 675px) {
  .responsive-login {
    flex-direction: column;
  }
}
